<div class="container">
  <h1 appHeader>Angular Directives</h1>
  <p appStyle="red" [dStyles]="{border: '1px dashed green', borderRadius: '5px', fontWeight: 'bold'}">Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Harum, repudiandae!</p>
  <p appStyle="blue" [dStyles]="{border: '2px dashed red', borderRadius: '15px', fontWeight: 'bold'}">Lorem ipsum dolor
    sit amet, consectetur adipisicing elit. Harum, repudiandae!</p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>
<!--  <div *ngIf="isVisible" class="wrap">-->
<!--    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--  </div>-->
<!--  <ng-template [ngIf]="isVisible">-->
<!--    <div  class="wrap">-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--    </div>-->
<!--  </ng-template>-->
  <div  class="wrap" *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>
